In [15]:
d={}
type(d)

dict

In [16]:
d1={1:"monday"}
d1

{1: 'monday'}

In [17]:
d2={"name":"khushbu","email":"khushbu@gmail.com","phoneno":987676564656}
d2

{'name': 'khushbu', 'email': 'khushbu@gmail.com', 'phoneno': 987676564656}

In [18]:
""" dictionary store the key:value pairs enclosed in cury bracket key always be unique and key not be any special
chracter allow"""

' dictionary store the key:value pairs enclosed in cury bracket key always be unique and key not be any special\nchracter allow'

In [19]:
d2["email"]

'khushbu@gmail.com'

In [20]:
#bool data type can be key

In [21]:
d4={"name":"khush","email":"khush@gmail.com","name":"ashu"}
d4

{'name': 'ashu', 'email': 'khush@gmail.com'}

In [22]:
d4["name"]

'ashu'

In [23]:
""" key should be unique otherwise it overwrite withe new values"""

' key should be unique otherwise it overwrite withe new values'

In [24]:
d5={"company":"google","course":["webdev","java","python"]}
d5

{'company': 'google', 'course': ['webdev', 'java', 'python']}

In [25]:
d5["course"][2]

'python'

In [26]:
d6={"number":[2,34,56,4,5],"assignmenyt":(1,2,3,45,6),"launchdy":{24,56,54},"remarks":{"a":"good","b":"bad"}}
d6

{'number': [2, 34, 56, 4, 5],
 'assignmenyt': (1, 2, 3, 45, 6),
 'launchdy': {24, 54, 56},
 'remarks': {'a': 'good', 'b': 'bad'}}

In [27]:
#value can be list ,set ,tuples,dic

In [28]:
d6["remarks"]["a"]

'good'

In [29]:
d6["frnds"]=["deepansh","ayushi","khushbu","ashu"]
d6

{'number': [2, 34, 56, 4, 5],
 'assignmenyt': (1, 2, 3, 45, 6),
 'launchdy': {24, 54, 56},
 'remarks': {'a': 'good', 'b': 'bad'},
 'frnds': ['deepansh', 'ayushi', 'khushbu', 'ashu']}

In [30]:
del d6["frnds"]
d6

{'number': [2, 34, 56, 4, 5],
 'assignmenyt': (1, 2, 3, 45, 6),
 'launchdy': {24, 54, 56},
 'remarks': {'a': 'good', 'b': 'bad'}}

In [31]:
d6.pop("remarks")

{'a': 'good', 'b': 'bad'}

In [32]:
d6

{'number': [2, 34, 56, 4, 5],
 'assignmenyt': (1, 2, 3, 45, 6),
 'launchdy': {24, 54, 56}}

In [33]:
d6.keys()

dict_keys(['number', 'assignmenyt', 'launchdy'])

In [34]:
d6.values()

dict_values([[2, 34, 56, 4, 5], (1, 2, 3, 45, 6), {24, 56, 54}])

In [35]:
list(d6.keys())

['number', 'assignmenyt', 'launchdy']

In [36]:
list(d6.values())

[[2, 34, 56, 4, 5], (1, 2, 3, 45, 6), {24, 54, 56}]

In [37]:
list(d6.items())

[('number', [2, 34, 56, 4, 5]),
 ('assignmenyt', (1, 2, 3, 45, 6)),
 ('launchdy', {24, 54, 56})]

In [38]:
d6["number"]=["45,45,45"]
d6

{'number': ['45,45,45'],
 'assignmenyt': (1, 2, 3, 45, 6),
 'launchdy': {24, 54, 56}}

In [39]:
# if 
# elif
# else 
# these are the conditional statement use to excute multipleline comments

In [40]:
marks=29
if marks>50:
    print("pass")
elif marks<=50 and marks<30:
    print("fail")
else:
    ("absent")

fail

In [41]:
age=int(input("enter the number"))
if age>=5  and age<=10:
    print("child")
elif age>=11 and age<=17:
    print("puberty")
elif age>=18 and age<=45:
    print("adult")
else:
    print("old")

child

In [42]:
a=23
b=45
num=int(input("enter the no"))
if num==1:
    print("add a + b ",a+b )
elif num==2:
    print("substraction a - b ",a-b )
elif num==3:
    print("add a * b ",a*b )
elif num==4:
    print("add a/ b ",a/b )
else:
    print("sorry")

sorry

In [64]:
#try to form a cluculater by using dict 

d={1:("add to num ",4+5)}
d[1]

('add to num ', 9)

In [63]:
d[1]

('add to num ', 9)

In [45]:
#loop

In [46]:
l=[1,2,3,4,5,6,7,8]

In [47]:
l[0]+1

2

In [48]:
l.append(l[0]+1)
l

[1, 2, 3, 4, 5, 6, 7, 8, 2]

In [49]:
for i in l:
    print(i)

1
2
3
4
5
6
7
8
2

In [50]:
l1=[1,2,3,4,5,6,7,8,9]
for i in l:
    print(i+1)

2
3
4
5
6
7
8
9
3

In [51]:
l2=[]
for i in l:
    print(i+1)
    l2.append(i+1)

2
3
4
5
6
7
8
9
3

In [52]:
l2

[2, 3, 4, 5, 6, 7, 8, 9, 3]

In [53]:
l=["khush","ashu","kanak"]

In [54]:
l1  =[]
for i in l:
    print(i)
    l1.append(i.upper())

khush
ashu
kanak

In [55]:
l1

['KHUSH', 'ASHU', 'KANAK']

In [56]:
l=[1,3,4,5,"annu","khus","ashu"]

In [57]:
l1_num=[]
l2_str=[]
for i in l:
    if type(i)==int or type(i) ==float: 
        l1_num.append(i)
    else:
        l2_str.append(i)

In [58]:
l1_num

[1, 3, 4, 5]

In [59]:
l2_str

['annu', 'khus', 'ashu']